

/*example styles
can be deleted and replaced with any css / framework
*/
html {
    height: 150%;
}

body {
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

.app {
    text-align: center;
}

a {
    display: inline-block;
    width: 90%;
    border: 1px solid gray;
    text-decoration: none;
    color: black;
    font-weight: 200;
    padding: 2px;
    border-radius: 5px;
}

